<mat-card>
  <mat-card-header>
    <mat-card-title>
      Using Subjects
    </mat-card-title>
  </mat-card-header>
  <mat-card-content align="end">
    <button mat-raised-button (click)="emitNext()" color="accent">Emit next()</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Using Behaviour Subjects
    </mat-card-title>
  </mat-card-header>
  <mat-card-content align="end">
    <button mat-raised-button (click)="emitNextBS()" color="accent">Emit next()</button>
  </mat-card-content>
</mat-card>
