<app-markdown-renderer [md]="'material-showcase'"></app-markdown-renderer>

<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <span>Angular Material Showcase</span>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Menu 1</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Menu 2</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Menu 3</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Two Whippets: Soi & Cleo</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ card }}" />
  <mat-card-content>
    The Whippet is a British dog breed of medium size. They are a sighthound
    breed that originated in England, where they descended from the Greyhound.
    Whippets were bred to hunt by sight, coursing game in open areas at high
    speeds. There are numerous representations of small greyhound-like hounds in
    art dating back to Ancient Egyptian times
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="onLike()" color="primary">LIKE</button>
    <button mat-raised-button color="primary">SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Button with a badge on the left </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span class="btnLbls"></span>
    <button
      mat-raised-button
      color="primary"
      [matBadge]="count"
      matBadgePosition="before"
      matBadgeColor="accent"
      (click)="incrementCt()"
    >
      Click me
    </button>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> mat-button-toogle-group </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-button-toggle-group
      id="myButtons"
      name="fontStyle"
      aria-label="Font Style"
      multiple="true"
      style="overflow: visible"
    >
      <mat-button-toggle
        #imageButton
        *ngFor="let image of images"
        matBadge="&#x2714;"
        matBadgeOverlap
        matBadgePosition="before"
        [matBadgeHidden]="!imageButton.checked"
        >{{ image }}</mat-button-toggle
      >
    </mat-button-toggle-group>
  </mat-card-content>
</mat-card>
