<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Skill Detail</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" placeholder="Name" [(ngModel)]="skill.name" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Price"
        [(ngModel)]="skill.hours"
      />
    </mat-form-field>
    <mat-slide-toggle ngModel name="skill.completed">Complete</mat-slide-toggle>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="doCancel()">Cancel</button>
    <button mat-button (click)="saveSkill()">Save</button>
  </mat-card-actions>
</mat-card>
