<mat-card>
  <mat-card-header>
    <mat-card-title> Interfaces </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <button mat-raised-button (click)="interfacesBasics()" color="primary">
      Interfaces Basics
    </button>
    <button mat-raised-button (click)="interfacesNullability()" color="primary">
      Interfaces Nullability
    </button>
    <button mat-raised-button (click)="interfacesFunctions()" color="primary">
      Interfaces and Functions
    </button>
  </mat-card-content>
</mat-card>
