<mat-card>
  <mat-card-header>
    <mat-card-title> Generics </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <button mat-raised-button (click)="genericFunctions()">
      Generic Basics
    </button>
    <button mat-raised-button (click)="genericPartial()">Partials</button>
    <button mat-raised-button (click)="genericClassesInterfaces()">
      Generic Classes & Interfaces
    </button>
    <button mat-raised-button (click)="genericConstraints()">
      Generic Constraints
    </button>
  </mat-card-content>
</mat-card>
