<app-markdown-renderer [md]="'expressions'"></app-markdown-renderer>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <!-- kann man nicht so gut unit testen so wie unten addNumbers -->
      <!-- one way binding, änderungen kommen nicht zurück-->
    <div>Calculation: 1 + 3 + {{ nbr }} = {{ 1 + 3 + nbr }}</div>
    <div>
      Conditional: {{ nbr > 0 ? 'Positive' : 'Negative' }}
    </div>
    <div>
      Function Call: {{ addNumbers(10, myObj.b) }}
    </div>
    <div>
      <!-- attributed binding [hidden] - binding an dom attribut -->
      <div [hidden]="!showOriginalDiv">The original Div</div>
      <div [hidden]="showOriginalDiv">The alternative Div</div>
      <!-- alle dom events mit () auffindbar -->
      <button
        mat-raised-button
        (click)="showOriginalDiv = !showOriginalDiv"
        color="primary"
      >
        Toggle the div
      </button>
    </div>
  </mat-card-content>
</mat-card>
