.hidden{
  visibility: hidden;
}

mat-form-field {
  width: 100%;
}

.cmdItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  button {
    width: calc(50% - 3rem);
    margin: 1em;
  }
}
