<app-markdown-renderer [md]="'routing-basics'"></app-markdown-renderer>

<mat-card>
  <mat-card-header>
    <mat-card-title>Using Router Link & Basic Routing</mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    
    <button mat-raised-button [routerLink]="['/main/skills']" color="accent"
      >Simple Route (Show Skills)</button>
    
      <button mat-raised-button [routerLink]="['/skills-old']" color="accent"
      >Redirect From old route to new route</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Using Query Params & Fragments</mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    
    <button
      mat-raised-button
      [routerLink]="['/skills', 1]"
      [queryParams]="{ readonly: true, clientid: 50 }"
      fragment="section5" color="accent"
      >Query & Fragment Params</button>
      
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Route using Code</mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    <button mat-raised-button (click)="showSkills()" color="accent"
      >Simple Route using Code (Show Skills)</button>
    <button mat-raised-button (click)="showSkillParam(2)" color="accent"
      >Code Param (Show Skill ById)</button>
  </mat-card-content>
</mat-card>
