mat-card {
  margin-bottom: 1rem;
}

table {
  width: 100%;
}

// .mat-column-COLNAME
.mat-column-name {
  width: 65%;
}

mat-card-content {
  padding-top: 2rem;
}

mat-icon {
  margin-right: 10px;
}
