.form{
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    margin: 0.5rem;
}

label{
    margin-right: 2rem;
    width: 150px;
}

input{
    min-width: 400px;
    flex-grow: 1;
}

button{
    min-width: 200px
}
