@use '@angular/material' as mat;
@import 'mat-theme.scss';

//filter

mat-card-content{
  background-color: var(--color-bg);
}

mat-form-field {
  width: 100%;
}

//table
mat-header-cell{
  background-color: var(--color-bg);
}

mat-cell{
  background-color: var(--color-fg);
}

mat-row:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}