<mat-card>
  <mat-card-header>
    <mat-card-title> Types</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <button mat-raised-button (click)="basicVariables()" color="primary">
      Basic Variables
    </button>
    <button mat-raised-button (click)="useLetConst()" color="primary">Let & Const</button>
    <button mat-raised-button (click)="useVoid()" color="primary">Void and Any</button>
    <button mat-raised-button (click)="useEnums()" color="primary">Enums</button>  
    <button mat-raised-button (click)="literalTypes()" color="primary">Literal Types</button>  
    <button mat-raised-button (click)="useTypings()" color="primary">Use Typings</button>
  </mat-card-content>
</mat-card>
