<h1 mat-dialog-title>Dialog with Input & Output to DevTools console</h1>

<mat-dialog-content>
  <mat-form-field>
    <mat-label>Change the name</mat-label>
    <input
      matInput
      placeholder="Please pass a name"
      [formControl]="fcName"
      required
      />
      @if (fcName.invalid) {
        <mat-error>{{ getErrorMessage() }}</mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary">Cancle</button>
    <button mat-raised-button [mat-dialog-close]="data.name" color="primary">Save & Close</button>
  </mat-dialog-actions>
