<app-markdown-renderer [md]="'async-pipe'"></app-markdown-renderer>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Imperative programming using subscribe()</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @for (t of tasks; track t) {
      <div>{{ t.id }} - {{ t.title }}</div>
    }
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Declarative Reactive Approach using async pipe </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @for (t of tasks$ | async; track t) {
      <div>{{ t.id }} - {{ t.title }}</div>
    }
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Completed task using Observable operators </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <pre>{{ completed$ | async | json }}</pre>
  </mat-card-content>
</mat-card>

@if (tasks$ | async; as arTasks) {
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Aliasing </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @for (t of arTasks; track t) {
        <div>
          <span>{{ t.title }}</span><span> - complete: {{ t.completed }}</span>
        </div>
      }
    </mat-card-content>
  </mat-card>
} @else {
  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
}

