<app-markdown-renderer [md]="'control-flow'"></app-markdown-renderer>

<div boxed>
  <h3>Using &#64;if</h3>
  <div>
    <mat-slide-toggle [formControl]="fcDisplay">Display members area</mat-slide-toggle>
  </div>
  <div>
    @if(fcDisplay.value){
      <p>Members area</p>
    } @else {
      <p>Public area</p>
    }
  </div>
</div>

<div>
  <h3>Using &#64;for, &#64;defer and &#64;placeholder</h3>
  @defer (when loaded) {
    <div boxed>  
      <div>
        @for(dog of dogs; track $index){
        <p>{{ dog }}</p>
        }
      </div>
    </div>
    } @placeholder{
    <div boxed>
      <div>
        <p>Loading...</p>
      </div>
    </div>
    }
</div>