<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> ECMA Script Utils </mat-card-title>
    </mat-card-header>
    <mat-card-content class="cmdItems">
      <button mat-raised-button (click)="stringFunctions()" color="primary">
        String Functions
      </button>
      <button mat-raised-button (click)="introArrays()" color="primary">Arrays</button>
      <button mat-raised-button (click)="arrayHelpers()" color="primary">Arrays Helpers</button>
      <button mat-raised-button (click)="restParams()" color="primary">Rest Operator</button>
      <button mat-raised-button (click)="spreadOperator()" color="primary">
        Spread Operator
      </button>
      <button mat-raised-button (click)="maps()" color="primary">Maps</button>
      <button mat-raised-button (click)="sets()" color="primary">Sets</button>
    </mat-card-content>
  </mat-card>
