<app-markdown-renderer [md]="'component-less'"></app-markdown-renderer>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Component Less Routing</mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    <button
      mat-raised-button
      [routerLink]="['/main/statistics/2020/cost']"
      color="primary"
    >
      2020 Cost
    </button>
    <button
      mat-raised-button
      [routerLink]="['/main/statistics/2020/revenue']"
      color="primary"
    >
      2020 Revenue
    </button>
  </mat-card-content>
</mat-card>
