<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Generics </mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    <button mat-raised-button (click)="genericFunctions()" color="primary">
      Generic Basics
    </button>
    <button mat-raised-button (click)="genericPartial()" color="primary">Partials</button>
    <button mat-raised-button (click)="genericClassesInterfaces()" color="primary">
      Generic Classes & Interfaces
    </button>
    <button mat-raised-button (click)="genericConstraints()" color="primary">
      Generic Constraints
    </button>
  </mat-card-content>
</mat-card>
