@use '@angular/material' as mat;
@import 'theme.scss';

mat-expansion-panel {
  margin-bottom: 0.5rem;
}

mat-expansion-panel-header {
  background-color: mat.get-color-from-palette($app-accent);
}

mat-panel-title {
  border-bottom: 1px solid mat.get-color-from-palette($app-accent);
}
