.row {
  display: flex;
  flex-direction: row;
  align-items: center; // This will vertically center the content
  gap: var(--gap-medium);
  margin: var(--gap-small);
  padding-bottom: var(--gap-small);
  border-bottom: solid 1px var(--color-accent);
}

.name{
  flex: 4;
}

.rating{
  flex: 2;
}