markdown p {
  line-height: 1.8rem;
}

markdown li{
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

code:not([class])  {
  font-weight: 700;
  // font-size: 0.9rem;
  font-style: italic;
   color: var(--color-primary);
}

code[class*=language-], pre[class*=language-]{
    font-size: 1rem !important;
}