<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Checked Pipe </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <label>Is Checked:</label>
    <input type="checkbox" [(ngModel)]="isChecked" />
    <div>
      <div>Is selected:</div>
      <div class="checked" [innerHTML]="isChecked | toChecked"></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Cust Currency Pipe </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>Price: {{ price | euro }}</div>
    <div>Price: {{ 100 | euro }}</div>
    <div>Price: {{ 50.1 | euro }}</div>
    <div>Price: {{ 0.12 | euro }}</div></mat-card-content
  >
</mat-card>
