<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Mock Markdown Editor</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <ng-container *ngIf="editorEdit && current != null">
      <mat-form-field
        ><mat-label>Title</mat-label>
        <input matInput [(ngModel)]="current.title" />
      </mat-form-field>
      <mat-form-field
        ><mat-label>Comment</mat-label
        ><textarea
          matInput
          name=""
          id=""
          cols="30"
          rows="8"
          [(ngModel)]="current.comment"
        ></textarea>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="!editorEdit">
      <div
        *ngFor="let c of comments | async"
        fxLayout="row"
        fxLayoutGap="16px"
        fxFlexFill
      >
        <div fxFlex="5 1 auto">{{ c.title }}</div>
        <button mat-raised-button (click)="editComment(c)" color="accent">Edit</button>
      </div>
    </ng-container>
  </mat-card-content>

  <mat-card-actions align="end">
    <ng-container *ngIf="editorEdit">
      <button mat-raised-button (click)="saveComment()" color="accent">Save</button>
      <button mat-raised-button (click)="editorEdit = !editorEdit" color="accent">
        Cancel
      </button>
    </ng-container>
  </mat-card-actions>
</mat-card>
