<mat-card>
  <mat-card-header>
    <mat-card-title>Using Router Link & Basic Routing</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutGap="10px">
    <a mat-raised-button [routerLink]="['/skills']"
      >Simple Route (Show Skills)</a
    >
    <a mat-raised-button [routerLink]="['/skills-old']"
      >Redirect From 'Schkills'</a
    >
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Using Query Params & Fragments</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutGap="10px">
    <a
      mat-raised-button
      [routerLink]="['/skills', 1]"
      [queryParams]="{ readonly: true, clientid: 50 }"
      fragment="section5"
      >Query & Fragment Params</a
    >
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Route using Code</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutGap="10px">
    <a mat-raised-button (click)="showSkills()"
      >Simple Route using Code (Show Skills)</a
    >
    <a mat-raised-button (click)="showSkillParam(2)"
      >Code Param (Show Skill ById)</a
    >
  </mat-card-content>
</mat-card>
