<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Classes </mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    <button mat-raised-button (click)="basicClasses()" color="primary">Basic Classes</button>
    <button mat-raised-button (click)="classesConstructor()" color="primary">
      Constructor, get()
    </button>
    <button mat-raised-button (click)="deepClone()" color="primary">Deep Clone</button>
    <button mat-raised-button (click)="inheritance()" color="primary">Inheritance</button>
    <button mat-raised-button (click)="staticProperties()" color="primary">
      Static Properties
    </button>
    <button mat-raised-button (click)="casting()" color="primary">Assertion / Casting</button>
    <button mat-raised-button (click)="access()" color="primary">Access Modifiers</button>
  </mat-card-content>
</mat-card>
