<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Objects </mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    <button mat-raised-button (click)="objectsBasics()" color="primary">Objects Basics</button>
    <button mat-raised-button (click)="objectsTyped()" color="primary">Objects Typed</button>
    <button mat-raised-button (click)="propertyShorthand()" color="primary">
      Property Shorthand
    </button>
    <button mat-raised-button (click)="valref()" color="primary">
      By Value vs by Referenc
    </button>
    <button mat-raised-button (click)="destructuring()" color="primary">
      Destructuring
    </button>
    <button mat-raised-button (click)="objAssign()" color="primary">
      Using Object.assign()
    </button>
    <button mat-raised-button (click)="cloneSpread()" color="primary">
      Immutability using Spread Operator
    </button>
  </mat-card-content>
</mat-card>
