.rootGrid {
  display: grid;
  height: 100vh;
  width: 100%;
  gap: 0.5rem;
  grid-template-rows: 80px auto;
  grid-template-columns: 180px auto;
  grid-template-areas:
    "navbar navbar"
    "sidemenu maincontent";

    @media only screen and (max-width: 960px) {
      grid-template-columns: auto;
      grid-template-areas:
        "navbar"
        "maincontent"
    }    
}

.gd-navbar {
  grid-area: navbar;
}

.gd-sidemenu {
  grid-area: sidemenu;
  background: lightgrey;
  @media only screen and (max-width: 960px) {
    display: none;
  }
}

.gd-maincontent {
  grid-area: maincontent;
}
