.myButton {
  font-size: 1.7em;
}

.extraClass {
  background: black;
  color: white;
}

.anotherClass {
  font-weight: bold;
}

.thirdClass {
  background: rgb(183, 43, 43);
}


button {
  margin-right: 0.5rem;
}
