<app-markdown-renderer [md]="'css-binding'"></app-markdown-renderer>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Class Binding </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-raised-button [class.extraClass]="addClass">
      Bind class using boolean & prop binding
    </button>

    <button mat-raised-button (click)="toggleBinding()" color="accent">Toggle</button>

  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Multible Class Binding </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-raised-button [ngClass]="setClasses()">
      Bind class using method
    </button>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> If ? then : else </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button
      mat-raised-button
      [style.border]="addStyle ? '5px solid yellow' : 'none'"
      color="accent"
    >
      Set styles using JSON
    </button>

    <button mat-raised-button (click)="toggleStyle()" color="accent">Toggle</button>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Multible Style Binding </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-raised-button [ngStyle]="setStyles()" (click)="toggleStyle" color="accent">
      Set styles using JSON
    </button>
  </mat-card-content>
</mat-card>
