<mat-card>
  <mat-card-header>
    <mat-card-title> Types & Arrays </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <button mat-raised-button (click)="basicVariables()">
      Basic Variables
    </button>
    <button mat-raised-button (click)="useLetConst()">Let & Const</button>
    <button mat-raised-button (click)="stringFunctions()">
      String Functions
    </button>
    <button mat-raised-button (click)="useVoidAny()">Void and Any</button>
    <button mat-raised-button (click)="useTypings()">Use Typings</button>
    <button mat-raised-button (click)="useEnums()">Enums</button>
    <button mat-raised-button (click)="introArrays()">Arrays</button>
    <button mat-raised-button (click)="arrayHelpers()">Arrays Helpers</button>
    <button mat-raised-button (click)="chainingArrayHelpers()">
      Chaining Arrays Helpers
    </button>
    <button mat-raised-button (click)="restParams()">Rest Operator</button>
    <button mat-raised-button (click)="spreadOperator()">
      Spread Operator
    </button>
    <button mat-raised-button (click)="maps()">Maps</button>
    <button mat-raised-button (click)="sets()">Sets</button>
  </mat-card-content>
</mat-card>
