.grid {
  display: grid;
  height: 100%;
  width: 100%;
  gap: 0.5rem;
  grid-template-rows: 80px auto;
  grid-template-columns: 180px auto;
  grid-template-areas:
    "navbar navbar"
    "sidemenu maincontent";
}

.gd-navbar {
  grid-area: navbar;
}

.gd-sidemenu {
  grid-area: sidemenu;
  background: lightgrey;
}

.gd-maincontent {
  grid-area: maincontent;
}
