#page-padding {
  padding: 0 1.5em 1.5em 1.5em;
}

.mat-mdc-card img {
  max-height: 450px;
}

.mat-mdc-card-image{
  margin: 0;
  width: calc(100% );
}

button{
  margin-right: var(--gap-medium);
}

span{
 color: var(--color-font);
 font-weight: bold;
}

.mat-mdc-card-content{
  line-height: 1.8rem;
}