@use '@angular/material' as mat;
@import 'mat-theme.scss';

mat-expansion-panel {
  margin-bottom: 0.5rem;
}

mat-expansion-panel-header {
  background-color: var(--color-accent);
  
}

mat-panel-title {
  border-bottom: 1px solid var(--color-accent);
}
