.gdSidenavContent {
  min-width: 400px;
  height: 100%;
  overflow: hidden;
  display: grid;
  gap: 5px;
  grid-template-rows: var(--toolbar-big) 5px auto;
  grid-template-columns: auto var(--toolbar-xl);
  grid-template-areas:
    "toolbar toolbar"
    "loading loading"
    "workbench sidebar"
    "mdeditor sidebar";

    @media only screen and (max-width: 960px) {
    grid-template-columns: auto;
    grid-template-areas:
      "toolbar"
      "loading"
      "workbench"
      "mdeditor";
  }
}

.gdToolbar {
  grid-area: toolbar;
}

.gdSidebar {
  grid-area: sidebar;

  @media only screen and (max-width: 960px) {
    display: none;
  }
}

.gdLoading {
  grid-area: loading;
}

.gdWorkbench {
  grid-area: workbench;
}

.gdEditor {
  grid-area: mdeditor;
  align-self: flex-end;
}

mat-toolbar {
  height: var(--toolbar-medium);
  margin-bottom: var(--gap-small);
}

//sidenav
.mat-sidenav-container {
  height: 100%;
}

.sidenav-menu {
  font-size:var(--font-small);
}


// list
.mat-nav-list .mat-mdc-list-item:hover,
.mat-nav-list .mat-list-item:focus {
  background: var(--color-bg);
}

.mat-mdc-list-base .mat-mdc-list-item,
.mat-list-base .mat-list-option {
  height: 36px;
}

mat-list-item {
  border-bottom: 1px solid var(--color-bg);
  border-top: 1px solid var(--color-bg);
}
