.grid {
  display: grid;
  grid-template-rows: 5rem var(--gap-small) auto;
  grid-template-columns: auto;
  grid-template-areas:
    "navbar"
    "loading"
    "mainRow";
  height: 100vh;
  margin: 0 var(--gap-medium);
}

.gdNavbar {
  grid-area: navbar;
}

.gdLoading {
  grid-area: loading;
}

.gdMainRow {
  grid-area: mainRow;
}
