<app-markdown-renderer [md]="'services-basics'"></app-markdown-renderer>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Services CRUD</mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    <button mat-raised-button (click)="getSkills()" color="primary">
      Get Skills
    </button>
    <button mat-raised-button (click)="getSkillsById()" color="primary">
      Get Skill by Id
    </button>
    <button mat-raised-button (click)="addSkill()" color="primary">
      Add a Skill
    </button>
    <button mat-raised-button (click)="updateSkill()" color="primary">
      Update a Skill
    </button>
    <button mat-raised-button (click)="deleteSkill()" color="primary">
      Delete a Skill
    </button>
  </mat-card-content>
</mat-card>

<mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>

<mat-card appearance="outlined" *ngIf="loading==false">
  <mat-card-header>
    <mat-card-title>Result from call</mat-card-title>
  </mat-card-header>
  <mat-card-content class="result">
    <pre>{{ result | json }}</pre>
  </mat-card-content>
</mat-card>
