<app-markdown-renderer [md]="'firebase'"></app-markdown-renderer>

<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Please authenticate or register</mat-card-title>
    </mat-card-header>

    <mat-card-actions align="start" class="cmdItems">
        <button
        mat-raised-button
        (click)="logIn()"
        color="primary"
      >
        Log In
      </button>
      <button
        mat-raised-button
        (click)="registerUser()"
        color="primary"
      >
        Register
      </button>

    </mat-card-actions>

</mat-card>

<ng-template #register>
  <app-register></app-register>
</ng-template>

<ng-template #login>
  <app-login></app-login>
</ng-template>

