<app-markdown-renderer [md]="'mat-form-field'"></app-markdown-renderer>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Material Form Fields</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Profession</mat-label>
      <input matInput />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Enter your profession</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="hide=!hide" color="primary">Toggle Pwd visibility</button>
  </mat-card-actions>
</mat-card>
