<mat-card>
  <mat-card-header>
    <mat-card-title>
      Make sure you stated json-server using: json-server db.json
    </mat-card-title>
  </mat-card-header>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Simple Operator Examples
    </mat-card-title>
  </mat-card-header>

  <mat-card-content fxLayout="column" fxLayoutGap="10px">
    <a mat-raised-button color="accent" (click)="useMap()">map()</a>
    <a mat-raised-button color="accent" (click)="useMapAndTap()"
      >pipe(), map() & tap()</a
    >
    <a mat-raised-button color="accent" (click)="errHandling()"
      >error handling</a
    >
    <a mat-raised-button color="accent" (click)="useFind()"
      >find() to return first item</a
    >
    <a mat-raised-button color="accent" (click)="useFilter()"
      >filter() to return an Array</a
    >
    <a mat-raised-button color="accent" (click)="useTake()"
      >take() to return an Array</a
    >
    <a mat-raised-button color="accent" (click)="useInterval()"
      >interval() to set an Inverval</a
    >
    <a mat-raised-button color="accent" (click)="useDelay()"
      >delay() to wait for a periode</a
    >
    <!-- <a mat-raised-button color="accent" (click)="useFlatMap()"
      >flatMap() to chain Subscriptions</a
    > -->
    <a mat-raised-button color="accent" (click)="useForkJoin()"
      >forkJoin() to join Observables</a
    >
    <a mat-raised-button color="accent" (click)="unsbscribe()"
      >Click to clear Subscription</a
    >
    <div fxLayout="row" fxLayoutAlign="center center">
      Result: {{ response | json }}
    </div>
  </mat-card-content>
</mat-card>

<mat-card fxLayout="column" fxLayoutGap="10px">
  <mat-card-header>
    <mat-card-title>
      Result
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let v of vouchers">
      {{ v.Label != null ? v.Label : v.Text }}
    </div>
  </mat-card-content>
</mat-card>

<app-debounced-search></app-debounced-search>
