.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    gap: 1rem;
}

.webfont{
    font-family: 'MuseoModerno', cursive;
    font-size: 3rem;
    border-bottom: 1rem;
}
