<mat-card>
  <mat-card-header>
    <mat-card-title> Functions </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <button mat-raised-button (click)="typedFunctions()">
      Typed Functions
    </button>
    <button mat-raised-button (click)="functionParameters()">Parameters</button>
    <button mat-raised-button (click)="returnValue()">Two Return Values</button>
    <button mat-raised-button (click)="arrowFunctions()">
      Arrow Functions
    </button>
    <button mat-raised-button (click)="functionOverloads()">
      Function Overloads
    </button>
    <button mat-raised-button (click)="generatorFunction()">
      Generator Funtions
    </button>
  </mat-card-content>
</mat-card>
