<mat-toolbar color="accent">
  <mat-toolbar-row>
    <div class="title">SPA Skills</div>
    <div>
      <mat-slide-toggle [formControl]="fcToggle" color="primary">ShowAll</mat-slide-toggle>
      <button mat-raised-button [routerLink]="['/skills/edit', 0]" color="primary">Add</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

@for (sk of skills | async; track sk) {
  <div class="item">
    <app-skill-row
      [skill]="sk"
      (itemDeleted)="deleteItem($event)"
      (itemCompleted)="toggleItemComplete($event)"
    ></app-skill-row>
  </div>
}

<app-skills-kpi></app-skills-kpi>
