<app-markdown-renderer [md]="'binding'"></app-markdown-renderer>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Bindings - Change text and watch changes</mat-card-title>
  </mat-card-header>
  <mat-card-content column>
      <label>Interpolation - One Way Binding:</label>
      <div>{{selectedPerson.name}}</div>
      <label>One Way Attribute Binding</label>
      <input type="text" [value]="selectedPerson.name"/>
      <label for="lblOneWayModel">One Way (Model) Binding</label>
      <input type="text" [ngModel]="selectedPerson.name"/>
      <label for="lblTwoWay">Two Way (Model) Binding</label>
      <!-- banana in a box -->
      <input type="text" [(ngModel)]="selectedPerson.name"/>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title
      >Binding and Nullability - data with latency
      </mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="latePerson">
      <pre>{{ latePerson | json }}</pre>
    </div>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Img & Select Binding</mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="selectedPerson.imgUrl">
    <div>
      <h2>{{ selectedPerson.name }}, {{ selectedPerson.age }}</h2>
      <img [src]="selectedPerson.imgUrl" width="150px" />
    </div>
    <div>
      <select [(ngModel)]="selectedPerson" style="width: 150px">
        <option *ngFor="let p of persons" [ngValue]="p">{{ p.name }}</option>
      </select>
    </div>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      Attribute Binding on a div
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <button mat-raised-button (click)="toggleDisplay()" color="accent">
      Toggle
    </button>

    <div class="wrapper">
      <span [style.visibility]="hide ? 'hidden' : 'visible'">Msg 1</span>
      <span [style.visibility]="!hide ? 'hidden' : 'visible'">Msg 2</span>
    </div>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Bindings Radio Button Groups </mat-card-title>
  </mat-card-header>
  <mat-card-content >
   <div class="row">
    <input
    type="radio"
    name="gender"
    [(ngModel)]="selectedPerson.gender"
    value="male"
  />
  Male
  <input
    type="radio"
    name="gender"
    [(ngModel)]="selectedPerson.gender"
    value="female"
  />
  Female
   </div>
    <div>
      {{ selectedPerson.name }} is {{ selectedPerson.gender }}
    </div>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Bindings Checkboxes </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <span>Is Active:</span> <input type="checkbox" [(ngModel)]="isActive" />
    </div>
    <div>
      Current State: {{ isActive }}
    </div>
  </mat-card-content>
</mat-card>
