<mat-card>
  <mat-card-header>
    <mat-card-title> Async & Services </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <button mat-raised-button (click)="usingPromises()" color="primary">Using Promise</button>
    <button mat-raised-button (click)="usingFetch()" color="primary">Using Fetch</button>
    <button mat-raised-button (click)="usingFetchAwait()" color="primary">
      Using Fetch Await
    </button>
    <button mat-raised-button (click)="postFetch()" color="primary">Post using Fetch</button>
    <button mat-raised-button (click)="usingAxios()" color="primary">Using Axios</button>
    <button mat-raised-button (click)="consumeService()" color="primary">
      Consuming Servics
    </button>
  </mat-card-content>
</mat-card>
