<app-markdown-renderer [md]="'routing-basics'"></app-markdown-renderer>

<mat-card>
  <mat-card-header>
    <mat-card-title>Using Router Link & Basic Routing</mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    <button mat-raised-button [routerLink]="['/main/skills']" color="primary">
      Simple Route (Show Skills)
    </button>
    <button mat-raised-button [routerLink]="['/main/skills-old']" color="primary">
      Redirect From old route to new route
    </button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Using Query Params & Fragments</mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    <button
      mat-raised-button
      [routerLink]="['/main/skills/edit', 1]"
      [queryParams]="{ readonly: true, clientId: 50 }"
      fragment="section5"
      color="primary"
    >
      Query & Fragment Params
    </button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Route using Code</mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    <button mat-raised-button (click)="showSkills()" color="primary">
      Simple Route using Code (Show Skills)
    </button>
    <button mat-raised-button (click)="showSkillParam(2)" color="primary">
      Code Param (Show Skill ById)
    </button>
  </mat-card-content>
</mat-card>
