<app-markdown-renderer [md]="'json-server'"></app-markdown-renderer>

<mat-card>
  <mat-card-header>
    <mat-card-title>JsonServerComponent</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutGap="16px">
    <button mat-raised-button (click)="getSkills()" color="accent">Get Skills</button>
    <button mat-raised-button (click)="addSkill()" color="accent">Add a Skill</button>
    <button mat-raised-button (click)="updateSkill()" color="accent">Update a Skill</button>
    <button mat-raised-button (click)="deleteSkill()" color="accent">Delete a Skill</button>
  </mat-card-content>
</mat-card>
<mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>

<mat-card *ngIf="!loading">
  <mat-card-header>
    <mat-card-title>Result from call</mat-card-title>
  </mat-card-header>
  <mat-card-content class="result">
    <pre>{{ result | json }}</pre>
  </mat-card-content>
</mat-card>
