//Card
.mat-card {
  background-color: var(--color-fg);
  margin-bottom: var(--gap-big);
  padding: 0 !important;
}

.mat-card-header {
  background-color: var(--color-fg);
  min-height: var(--toolbar-medium);
  padding-top: var(--gap-small);
}

.mat-card-title{
  margin-top: var(--gap-small);
}

.mat-card-content {
  padding: var(--gap-medium);
  margin-bottom: 0 !important;
}

.mat-card-actions {
  padding: var(--gap-medium);
  margin-left: var(--gap-medium) !important;
  margin-right: var(--gap-medium) !important;
  margin-bottom: var(--gap-medium) !important;
}

//buttons
.mat-raised-button{
  :hover{
    text-decoration: underline;
  }
}