//Provides Theme funcitonality
@use '~@angular/material' as mat;
@import "~@angular/material/theming";
@include mat.core();

//Mixin for common styles
@include mat.core();

//Pick colors here: https://material.io/color/
$custom-primary: mat.define-palette(mat.$brown-palette, 400);
$custom-accent: mat.define-palette(mat.$grey-palette, 400);
$custom-warn: mat.define-palette(mat.$red-palette);
$custom-fg: mat.define-palette(mat.$red-palette);
$custom-bg: mat.define-palette(mat.$red-palette);

//Build theme
$custom-theme: mat.define-light-theme($custom-primary, $custom-accent, $custom-warn);

//Include theme
@include mat.all-component-themes($custom-theme);
