<mat-card>
  <mat-card-header>
    <mat-card-title> Interfaces </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <button mat-raised-button (click)="interfacesBasics()">
      Interfaces Basics
    </button>
    <button mat-raised-button (click)="interfacesNullability()">
      Interfaces Nullability
    </button>
    <button mat-raised-button (click)="interfacesObjectLiterals()">
      Object Literals
    </button>
    <button mat-raised-button (click)="interfacesFunctions()">
      Interfaces and Functions
    </button>
  </mat-card-content>
</mat-card>
