.navbar {
  background-color: lightblue;
  height: 100px;
}

.mainrow {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 120px);
}

.sidemenu {
  background-color: lightgray;
  width: 20vw;
}

.home {
  background-color: yellow;
  width: 80vw;
}