
:host {
  width: 100%;
}

.hoverclick {
  cursor: pointer;
  background-color: var(--color-fg);
  color: white;
  margin: 0.2rem;
  padding: 0.2rem;
  &:hover {
    text-decoration: underline;
  }
}
