<app-markdown-renderer [md]="'mat-dialog'"></app-markdown-renderer>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      Material Dialog passing Input
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input
        type="text"
        matInput
        [(ngModel)]="paramName"
        placeholder="Enter your name"
      />
    </mat-form-field>
    <button mat-raised-button (click)="openDialog()" color="primary">
      Open Dialog
    </button>
  </mat-card-content>
</mat-card>
