label{
  display: block;
  margin: var(--gap-small) 0;
  padding: var(--gap-small);
  border: 1px solid var(--color-primary);

  ::after{
    line-break: strict;
  }
}

select{
  border: 1px solid var(--color-primary);
}

input{
  display: block;
  margin: var(--gap-small) 0;
  padding: var(--gap-small);
  border: 1px solid var(--color-primary);
  background-color: var(--color-accent);
  color: var(--color-font);
}

.row{
  display: flex;
  flex-direction: row;
  gap: var(--gap-small);
}
