.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 0;
}

.flex-container-start {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px 0;
}

.flex-item {
  flex-grow: 1;
  min-width: 200px;
  height: 100px;
  margin: var(--gap-medium);  
  background: var(--color-primary);
  color: white;
  font-weight: bold;
  font-size:1rem;
  text-align: center;
}

.mat-card>.mat-card-actions:last-child {
  padding-bottom: var(--gap-medium); 
}