<mat-card>
  <mat-card-header>
    <mat-card-title>Content Projection</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="openPopup()">
      Show in Popup
    </button>
  </mat-card-content>
</mat-card>

<ux-split>
  <div class="title">The Title</div>
  <div class="main"></div>
  <div class="sidebar">
    <ux-button [icon]="'keyboard_arrow_right'" [label]="'Go Back'"></ux-button>
    <ux-button
      [label]="'Bearbeiten'"
      [icon]="'edit'"
      [disabled]="isDisabled"
    ></ux-button>
  </div>
</ux-split>
