<mat-card appearance="outlined">
    <mat-card-header >
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="showcase" column centered>
        <img src="assets/images/{{img}}" alt="">
      </div>
      <div class="instructions">
        <ng-content select=".instructions"></ng-content>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button routerLink="/demos" color="primary" >Proceed</button>
    </mat-card-actions>
  </mat-card>
