@import "mixins.scss";

.menu {
  margin: 0 var(--gap-small);
}

.workbench {
  min-width: 400px;
}

button {
  width: 100%;
  margin: var(--gap-small) 0;
  @include link(var(--color-fg), var(--font-small));
}

mat-toolbar {
  height: var(--toolbar-medium);
  margin-bottom: var(--gap-big);
}

.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 220px;
  background-color: var(--color-fg);
}

.mat-drawer-container {
  background-color: var(--color-clear);
  color: var(--color-darkfont);
}