<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [opened]="ms.visible$ | async"
    [mode]="ms.position$ | async"
  >
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        {{ title }}
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="menu">
      <button
        mat-raised-button
        color="accent"
        *ngFor="let item of demos$ | async"
        [routerLink]="['./' + item.url]"
      >
        {{ item.title }}
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      class="nav-content"
      gdAreas="toolbar | workbench | footer"
      gdGap="10px"
      gdRows="70px auto 60px"
      gdColumns="auto"
      gdColumns.lt-md="100%"
      [ngStyle]="getWorbenchStyle()"
    >
      <div gdArea="toolbar">
        <mat-toolbar color="accent">
          <mat-toolbar-row>
            <h4>{{ header }}</h4>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
      <div gdArea="workbench"><router-outlet></router-outlet></div>
      <div gdArea="footer">
        <app-footer></app-footer>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
