@import "vars.scss";

.menu {
  margin: 0 $smallGap;
}

.workbench {
  min-width: 400px;
}

button {
  width: 100%;
  margin: $smallGap 0;
  @include link(var(--color-fg), $medium-font);
}

mat-toolbar {
  height: $medium-toolbar;
  margin-bottom: $bigGap;
}

.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 220px;
  background-color: var(--color-fg);
}

.mat-drawer-container {
  background-color: var(--color-clear);
  color: var(--color-darkfont);
}