// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@include mat.core();

// Available color palettes: https://material.io/design/color/
$app-primary: mat.define-palette(mat.$blue-palette, 700);
$app-accent: mat.define-palette(mat.$blue-grey-palette, 100);
$app-warn: mat.define-palette(mat.$red-palette);
$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));
@include mat.all-component-themes($app-theme);

//Export global vars from design system for easy use
:root {
  --color-primary: #1E88E5;
  --color-accent: #B0BEC5;
  --color-warn: red;
  --color-font: white;
  --gap-small: 0.5rem;
  --gap-medium: 0.8rem;
  --gap-big: 1rem;
  --toolbar-xl: 85px;
  --toolbar-big: 70px;
  --toolbar-medium: 40px;
  --toolbar-small: 30px;
  --font-small: 0.9rem;
  --font-medium: 1.2rem;
  --font-big: 1.4rem;
  --breakpoint-mobile: 960px;
}

/* You can add global styles to this file, and also import other style files */
@import "resets.scss";
@import "mixins.scss";
@import "mat-overrides.scss";
@import "tables.scss";
@import "forms.scss";
@import "markdown.scss";


.divclass {
  padding: 1rem;
  margin: 1rem;
  border: 2px solid red;
}
