<mat-card>
  <mat-card-header>
    <mat-card-title> Classic View Model </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let v of vouchers">ID: {{ v.ID }} - Date: {{ v.Date | date}}</div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title> Using Declarative Pattern and async </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let v of vouchers$ | async">ID: {{ v.ID }} - Date: {{ v.Date | date}}</div>
  </mat-card-content>
</mat-card>
