<mat-toolbar color="accent">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div>Your current SPA Skills:</div>
    <div fxLayoutGap="10px">
      <button
        mat-raised-button
        [routerLink]="['/skills', 0]"
        [state]="{ data: getNextId() }"
        color="primary"
      >
        Add
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-content fxLayout="column">
    <div *ngFor="let sk of skills" class="item">
      <app-skill-row [skill]="sk"></app-skill-row>
    </div>
  </mat-card-content>
</mat-card>
