@import "stylevars";

mat-card{
    min-width: 500px;    
}

mat-card-actions{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

mat-card-header {
    background-color: #8D6E63;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

:host-context{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}