<div class="section">
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <span>Angular Material Example</span>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Menu 1</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Menu 2</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Menu 3</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cleo & Soi</mat-card-title>
      <mat-card-subtitle>A day with two Sighthounds</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ card }}" />
    <mat-card-content>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem Ipsum
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="onLike()">LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Button with a badge on the left
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span class="btnLbls"></span>
    <button
      mat-raised-button
      color="primary"
      [matBadge]="count"
      matBadgePosition="before"
      matBadgeColor="accent"
      (click)="incrementCt()"
    >
      Click me
    </button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      mat-button-toogle-group
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-button-toggle-group
      id="myButtons"
      name="fontStyle"
      aria-label="Font Style"
      multiple="true"
      style="overflow: visible"
    >
      <mat-button-toggle
        #imageButton
        *ngFor="let image of images"
        matBadge="&#x2714;"
        matBadgeOverlap="true"
        [matBadgeHidden]="!imageButton.checked"
        >{{ image }}</mat-button-toggle
      >
    </mat-button-toggle-group>
  </mat-card-content>
</mat-card>
