<div
  gdAreas="navbar | mainrow"
  gdAreas.lt-md="navbar  | mainrow"
  gdGap="0.5rem"
  gdRows="80px auto"
  gdColumns="auto"
  class="grid"
>
  <div gdArea="navbar"><app-navbar></app-navbar></div>
  <div gdArea="mainrow" class="main">
    <mat-sidenav-container>
      <mat-sidenav  #sidenav
      [opened]="ms.sideNavVisible | async"
      [mode]="ms.sideNavPosition | async">
        <app-sidebar></app-sidebar>
      </mat-sidenav>
      <mat-sidenav-content  [ngStyle]="getWorbenchStyle()">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div> 
</div>