<mat-card>
  <mat-card-header>
    <mat-card-title> Classes </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <button mat-raised-button (click)="basicClasses()">Basic Classes</button>
    <button mat-raised-button (click)="classesConstructor()">
      Constructor
    </button>
    <button mat-raised-button (click)="deepClone()">Deep Clone</button>
    <button mat-raised-button (click)="inheritance()">Inheritance</button>
    <button mat-raised-button (click)="staticProperties()">
      Static Properties
    </button>
    <button mat-raised-button (click)="casting()">Assertion / Casting</button>
  </mat-card-content>
</mat-card>
