.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 10px;
}

.webfont{
    font-family: 'MuseoModerno', cursive;
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 1rem;
    color: black;
}
