//mat-card
.mat-mdc-card {
  background-color: var(--color-accent);
  margin-bottom: var(--gap-big);
  padding: 0 !important;
}

.mat-mdc-card-header {
  color: var(--color-accent);
  height: var(--toolbar-small);
  padding-top: 0px;
  background-color: var(--color-primary);
}

.mat-mdc-card-title {
  margin-top: var(--gap-small);
  color: var(--color-font);
}

.mat-mdc-card-subtitle {
  color: var(--color-font);
}

.mat-mdc-card-content {
  padding: var(--gap-medium) !important;
  margin-bottom: 0 !important;
}

.mat-mdc-card-actions {
  padding: var(--gap-medium) !important;
  margin-left: var(--gap-medium) !important;
  margin-right: var(--gap-medium) !important;
  margin-bottom: var(--gap-medium) !important;
}

//buttons
button.mat-mdc-raised-button {  
  margin: var(--gap-small) 0;
  :hover {
    text-decoration: underline;
  }
}

.mdc-button__label {
  color: var(--color-font);
}

//mat-icons
.mat-icon {
  color: var(--color-font);
}

//mat-snackbar
.app-snackbar {
  background-color: var(--color-primary);
  color: var(--color-font);
  position: relative;
  top: -1rem;
}

//mat-dialog
mat-dialog-container {
  .form-container {
    padding: 0 var(--gap-medium);
    .mat-form-field-flex:first-child {
      padding-top: var(--gap-medium);
    }
  }
}

//mat-expansion-panel
.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: white !important;
}

mat-expansion-panel {
  border-radius: 0px !important;
}

mat-expansion-panel-header:hover {
  background-color: var(--color-primary);
}

.mat-expansion-panel-header.mat-expanded {
  height: var(--toolbar-small);
}

mat-expansion-panel-header {
  background-color: var(--color-primary) !important;
}

.mat-expansion-panel-header.mat-expanded {
  height: var(--toolbar-small);
  margin-bottom: var(--gap-small);
}

.mat-expansion-panel-header-title {
  color: var(--color-font);
  font-size: var(--font-medium);
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: var(--color-font);
}

//mat-table
mat-header-row {
  background-color: var(--color-primary);
  color: var(--color-font);
}

//mat-sidenav-container
.mat-sidenav {
  width: 190px!important;
  background-color: var(--color-accent);
}

.mat-drawer-container {
  color: var(--color-darkfont);
}
