.skillrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2rem 0;
  border-bottom: 1px solid #8d6e63;

}

.name {
  flex: 3;
  padding-left: 2rem
}

.completed {
  flex: 2;
}

.cmd {
  flex: 1;
  text-align: end;;
}

button {
  margin-right: var(--gap-small);
}	

.mat-mdc-raised-button{
  height: 32px;
}