<mat-card>
  <mat-card-header>
    <mat-card-title> Objects </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <button mat-raised-button (click)="objectsBasics()" color="primary">Objects Basics</button>
    <button mat-raised-button (click)="enhancedObjectLiterals()" color="primary">
      Enhanced Object Literals
    </button>
    <button mat-raised-button (click)="objAssign()" color="primary">
      Using Object.assign()
    </button>
    <button mat-raised-button (click)="copyspread()" color="primary">
      Immutability using Spread Operator
    </button>
    <button mat-raised-button (click)="valref()" color="primary">
      Modifying Val / Ref Types
    </button>
  </mat-card-content>
</mat-card>
