.phoneClass {
	color: black;
	padding: var(--gap-medium);
	height: 40px;
	background-color: yellow;
}

.notPhoneClass {
	color: white;
	padding: var(--gap-medium);
	height: 40px;
	background-color: green;
}
