<app-markdown-renderer [md]="'imperative'" *ngIf="showMD"></app-markdown-renderer>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> {{title}} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field>
        <mat-label>filter for name: i.e: custom</mat-label>
        <input matInput type="text" [formControl]="filter$" />
      </mat-form-field>
    </div>
    <div>
      <h2>Persons</h2>
      <ul>
        <li *ngFor="let persons of view">
          {{ persons | json }}
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
