<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Edit</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="foodForm" novalidate column>
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput type="number" placeholder="Id"  formControlName="id" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" formControlName="name" />
      </mat-form-field>
      @if ( foodForm.controls['name'].touched &&
      foodForm.controls['name'].errors != undefined ) {
        <mat-error> Name is required & must be more than 3 chars </mat-error>
      }
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input
          matInput
          type="number"
          placeholder="Price"
          formControlName="price"
        />
      </mat-form-field>
      @if ( foodForm.controls['price'].touched &&
      foodForm.controls['price'].errors != undefined ) {
        <mat-error> Price must be greater than 1€ </mat-error>
      }
      <mat-form-field>
        <mat-label>Calories</mat-label>
        <input
          matInput
          type="number"
          placeholder="Calories"
          formControlName="calories"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="saveForm()">Save</button>
  </mat-card-actions>
</mat-card>
