mat-form-field {
  width: 100%;
}

.mat-row:hover {
  background-color: var(--color-fg);
  cursor: pointer;
}

mat-card{
  background-color: var(--color-primary);  
}

.mat-card-content{
  color: var(--color-fg);
}