

mat-card-header {
  margin-bottom: 2rem;
}

button{
  margin-right: var(--gap-small);
}


.showText{
  margin-top: var(--gap-big);
  max-width: 600px;
  line-height: 1.5rem;
  font-family: "Satisfy", cursive;
  font-size: larger;
}