<app-markdown-renderer [md]="'signals-basics'"></app-markdown-renderer>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Signals Basics </mat-card-title>
  </mat-card-header>

  <mat-card-content class="cmdItems">
    <button mat-raised-button color="primary" (click)="updateAmount()">
      Update Net amount
    </button>
    <button mat-raised-button color="primary" (click)="addAmount()">
      Add to Net amount
    </button>
    <button mat-raised-button color="primary" (click)="logLikes()">
      Log likes
    </button>
    <button mat-raised-button color="primary" (click)="likeTopic()">
      Like topic
    </button>
  </mat-card-content>
</mat-card>

<div border centered>
  <div>Net Amount {{ netAmount() }}</div>
  <div>Gross Amount {{ grossAmount() }}</div>
  <div>Likes {{ topic().likes }}</div>
  <div>myString {{ myString() }}</div>
</div>
