@import "./vars.scss";
@import "./flexbox.scss";

@mixin mouse {
  cursor: pointer;
}

@mixin big-font {
  font-size: 18px;
}

mainDiv {
  background-color: $darkBackground;
  @include big-font;

  &:hover {
    background-color: $mediumBackground;
    @include mouse;
  }
}

.workbench {
  min-height: 300px;
}
