<app-markdown-renderer [md]="'material-async'"></app-markdown-renderer>

<mat-card>
  <mat-card-header>
    <mat-card-title>Async & Material</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab *ngFor="let ut of users">
        <ng-template mat-tab-label>
            {{ ut.name }}
        </ng-template>
        {{ ut.name }} was born on {{ ut.created | date: 'MM/dd/yyyy' }}.
        {{ut.description}}
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
