#page-padding {
  padding: 0 1.5em 1.5em 1.5em;
}

.mat-badge-content {
  z-index: 1;
}

.btnLbls {
  margin-right: 1.5rem;
}

.mat-card img {
  max-height: 450px;    
}

.mat-card-image{
  margin: 0;
  width: calc(100% );
}