// mat-buttons
button.mat-mdc-raised-button {
  margin: 0.5rem;
  min-width: 200px;
  :hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

.mdc-button__label {
  color: var(--color-font);
}

// mat-card
.mat-mdc-card {
  margin-bottom: 1rem;
  padding: 0 !important;  
}

// mat-sidenav

mat-sidenav-container{
  height: 100%;
}