<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <div class="showcase" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/images/{{ img }}" alt="" />
    </div>
    <div class="instructions">
      <ng-content select=".instructions"></ng-content>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="authEnabled | async">
      <button mat-raised-button routerLink="/food" color="primary">
        Proceed
      </button>
    </div>
    <div *ngIf="(authEnabled | async) == false">
      <button mat-raised-button (click)="logIn()" color="primary">
        Log In
      </button>
      <button mat-raised-button (click)="registerUser()" color="primary">
        Register
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<ng-template #register>
  <app-register></app-register>
</ng-template>

<ng-template #login>
  <app-login></app-login>
</ng-template>
