<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Async Operations & Observables </mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    <button mat-raised-button (click)="usingFetch()" color="primary">
      Using Fetch and Promise
    </button>
    <button mat-raised-button (click)="usingFetchAwait()" color="primary">
      Using Fetch Await
    </button>
    <button mat-raised-button (click)="postFetch()" color="primary">
      Post using Fetch
    </button>
    <button mat-raised-button (click)="usingAxios()" color="primary">
      Using Axios and Promises
    </button>
    <button mat-raised-button (click)="useClientInComponent()" color="primary">
      Use HttpClient in Component
    </button>
    <button mat-raised-button (click)="consumeService()" color="primary">
      Consuming Services
    </button>
  </mat-card-content>
</mat-card>

@if (skills) {
<mat-card appearance="outlined">
  <mat-card-content>
      <h1>The Skills Subscribe</h1>
      @for (sk of skills; track sk) {
      <div class="row">{{ sk.name }}</div>
      }
  </mat-card-content>  
</mat-card>

} @if (showDeclarative | async) {
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> There are {{count$| async}} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <h1>The Skills declarative binding</h1>
      @for (sk of skills$ | async; track sk) {
      <div class="row">{{ sk.name }}</div>
      }
  </mat-card-content>
</mat-card>
}
