<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Template Driven with Validation </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #personForm="ngForm" (ngSubmit)="savePerson(personForm)" novalidate column>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Name"
          name="name"
          [(ngModel)]="person.name"
          required
          minlength="4"
        />
        <mat-error *ngIf="personForm.controls['name']?.invalid">
          Name is required (minimum 4 characters).
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Age"
          name="age"
          [(ngModel)]="person.age"
          required
        />
        <em *ngIf="personForm.controls['age']?.invalid"> Age is required </em>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="email"
          name="email"
          [(ngModel)]="person.email"
        />
        <em *ngIf="personForm.controls['email']?.invalid">
          Must be a vaild mail
        </em>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          placeholder="Gender"
          name="gender"
          [(ngModel)]="person.gender"
        >
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="cmdItems">
        <button
        mat-raised-button
        color="accent"
        (click)="patchValue()">
        Patch Value
      </button>
      <button
        mat-raised-button
        type="submit"
        [disabled]="personForm.invalid"
        color="accent">
        Submit
      </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Control State - "Name" Field</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Name Fld is dirty: {{ personForm.controls['name'].dirty }}<br />
    Name Fld is pristine: {{ personForm.controls['name'].pristine }}<br />
    Name Fld is valid: {{ personForm.controls['name'].valid }}<br />
    Name Fld is invalid: {{ personForm.controls['name'].invalid }}<br />
    Name Fld is touched: {{ personForm.controls['name'].touched }}<br />
    Name Fld is untouched: {{ personForm.controls['name'].untouched }}
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Control State - "Age" Field</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Age Fld is dirty: {{ personForm.controls['age'].dirty }}<br />
    Age Fld is pristine: {{ personForm.controls['age'].pristine }}<br />
    Age Fld is valid: {{ personForm.controls['age'].valid }}<br />
    Age Fld is invalid: {{ personForm.controls['age'].invalid }}<br />
    Age Fld is touched: {{ personForm.controls['age'].touched }}<br />
    Age Fld is untouched: {{ personForm.controls['age'].untouched }}
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Form State</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Form is dirty: {{ personForm.dirty }}<br />
    Form is pristine: {{ personForm.pristine }}<br />
    Form is valid: {{ personForm.valid }}<br />
    Form is invalid: {{ personForm.invalid }}<br />
    Form is touched: {{ personForm.touched }}<br />
    Form is untouched: {{ personForm.untouched }}<br />
  </mat-card-content>
</mat-card>
