<div>
  <mat-card appearance="outlined">
    <mat-card-header centered>
      <mat-card-title >
        Page Not Found
      </mat-card-title>
    </mat-card-header>
    <mat-card-content column centered>
      <span>Sorry for the inconvenience.</span>
      <img src="/assets/images/sorry.png" alt="404" ><br>
      <span>The page you are looking for does not exist.</span>
    </mat-card-content>
    <mat-card-actions centered>
      <button mat-raised-button [routerLink]="'/'" color="primary">Return to home</button>
    </mat-card-actions>
  </mat-card>
</div>
