.gdSidenavContent {
  min-width: 450px;
  height: 100%;
  overflow: hidden;
  display: grid;
  gap: var(--gap-small);
  grid-template-rows: 60px var(--gap-small) auto;
  grid-template-columns: auto 5rem;
  grid-template-areas:
    "toolbar toolbar"
    "workbench sidebar"
    "mdeditor sidebar";

    @media only screen and (max-width: var(--breakpoint-mobile)) {
    grid-template-columns: auto;
    grid-template-areas:
      "toolbar"
      "loading"
      "workbench"
      "mdeditor";
  }
}

.gdToolbar {
  grid-area: toolbar;
}

.gdSidebar {
  grid-area: sidebar;

  @media only screen and (max-width: var(--breakpoint-mobile)) {
    display: none;
  }
}

.gdWorkbench {
  grid-area: workbench;
  min-width: 750px
}

.gdEditor {
  grid-area: mdeditor;
  align-self: flex-end;
}

mat-toolbar {
  margin-bottom: var(--gap-small);
  background-color: var(--color-accent);
}

.mat-sidenav-container {
  height: 100%;
}

.mat-mdc-list-base .mat-mdc-list-item,
.mat-list-base .mat-list-option {
  height: 36px;
}

mat-list-item {
  border-bottom: 1px solid  var(--color-accent);
}
