<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Functions </mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    <button mat-raised-button (click)="typedFunctions()" color="primary">
      Typed Functions
    </button>
    <button mat-raised-button (click)="functionParameters()" color="primary">Parameters</button>
    <button mat-raised-button (click)="returnValue()" color="primary">Two Return Values</button>
    <button mat-raised-button (click)="arrowFunctions()" color="primary">
      Arrow Functions
    </button>
    <button mat-raised-button (click)="functionOverloads()" color="primary">
      Function Overloads
    </button>
  </mat-card-content>
</mat-card>
