<app-markdown-renderer [md]="'creating'"></app-markdown-renderer>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Observable Basics - Creating & Consuming</mat-card-title>
  </mat-card-header>

  <mat-card-content fxLayout="column" fxLayoutGap="10px">
    <button mat-raised-button color="accent" (click)="useObsFrom()">
      from()
    </button>
    <button mat-raised-button color="accent" (click)="useOf()">of()</button>
    <button mat-raised-button color="accent" (click)="useOfwithSpread()">
      of() with spread()
    </button>
    <button mat-raised-button color="accent" (click)="useNewObs()">new Observabl()</button>
    <button mat-raised-button color="accent" (click)="wrappingCallbacks()">
      Wrapping Callbacks
    </button>
    <button mat-raised-button color="accent" (click)="usePromiseToObs()">
      Casting Promises
    </button>
    <button mat-raised-button color="accent" (click)="useOperator()">
      filter() - A simple Operator
    </button>    
  </mat-card-content>
</mat-card>
