<app-markdown-renderer [md]="'netcore'"></app-markdown-renderer>
<mat-card>
  <mat-card-header>
    <mat-card-title>ObservableCrudComponent</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <button mat-raised-button (click)="getSkills()" color="accent">Get Skills</button>
    <button mat-raised-button (click)="getSkill()" color="accent">Get Skill</button>
    <button mat-raised-button (click)="insertSkill()" color="accent">Insert Skill</button>
    <button mat-raised-button (click)="updateSkill()" color="accent">Update Skill</button>
    <button mat-raised-button (click)="deleteSkill()" color="accent">Delete Skill</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Result from {{ fname }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="result">
    <pre>{{ result | json }}</pre>
  </mat-card-content>
</mat-card>
