<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Admin</mat-card-title>
  </mat-card-header>
  <mat-card-content class="cmdItems">
    <button mat-raised-button [routerLink]="['./admina']" color="accent">
      Admin Detail A
    </button>
    <button mat-raised-button [routerLink]="['./adminb']" color="accent">
      Admin Detail B
    </button>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Your Choice</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
