<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Skill Detail</mat-card-title>
  </mat-card-header>
  <mat-card-content
    fxLayout="column"
    fxLayoutGap="16px"
    fxLayoutAlign="center start"
  >
    <mat-form-field>
      <input matInput type="text" placeholder="Name" [(ngModel)]="skill.name" [disabled]="isDisabled"  />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Price"
        [(ngModel)]="skill.hours"
        [disabled]="isDisabled" 
      />
    </mat-form-field>
    <mat-slide-toggle ngModel name="skill.completed" [disabled]="isDisabled" >Complete</mat-slide-toggle>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="doCancel()" color="accent">Cancel</button>
    <button mat-raised-button (click)="saveSkill()" color="accent">Save</button>
  </mat-card-actions>
</mat-card>
