//Card
.mat-card {
  background-color: var(--color-fg);
  margin-bottom: var(--gap-big);
  padding: 0 !important;
}

.mat-card-header {
  background-color: var(--color-primary);
  color: var(--color-fg);
  height: var(--toolbar-medium);
  padding-top: 0px;
}

.mat-card-title{
  margin-top: var(--gap-small);
}

.mat-card-subtitle{
  color: var(--color-fg);
}

.mat-card-content {
  padding: var(--gap-medium);
  margin-bottom: 0 !important;
}

.mat-card-actions {
  padding: var(--gap-medium);
  margin-left: var(--gap-medium) !important;
  margin-right: var(--gap-medium) !important;
  margin-bottom: var(--gap-medium) !important;
}

//buttons
button.mat-raised-button{
  margin: var(--gap-small) 0;
  :hover{
    text-decoration: underline;
  }
}

//snackbar
.app-snackbar{
  background-color: var(--color-primary);
  color: var(--color-fg);
  position: relative;
  top: -1rem;
}

// Mat-Dialog-Container
mat-dialog-container { 
  .form-container {
    padding: 0 10px;

    .mat-form-field-flex:first-child {
      padding-top: 10px;
    }
  }
}
