<app-markdown-renderer [md]="'operators'"></app-markdown-renderer>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      Simple Operator Examples
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="cmdItems">
    <button mat-raised-button color="primary" (click)="useMap()">map()</button>
    <button mat-raised-button color="primary" (click)="useMapAndTap()"
    >pipe(), map() & tap()</button>
    <button mat-raised-button color="primary" (click)="errHandling()"
    >error handling</button>
    <button mat-raised-button color="primary" (click)="useFind()"
    >find() to return first item</button>
    <button mat-raised-button color="primary" (click)="useFilter()"
    >filter() to return an Array</button>
    <button mat-raised-button color="primary" (click)="useTake()"
    >take() to return an Array</button>
    <button mat-raised-button color="primary" (click)="useInterval()"
    >interval() to set an Inverval</button>
    <button mat-raised-button color="primary" (click)="useDelay()"
    >delay() to wait for a periode</button>
    <button mat-raised-button color="primary" (click)="useCombineLatestWith()"
    >combineLatestWith() to combine 2 streams</button>
    <button mat-raised-button color="primary" (click)="useForkJoin()"
    >forkJoin() to join Observables</button>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined" fxLayout="column" fxLayoutGap="10px">
  <mat-card-header>
    <mat-card-title>
      Result
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="result">
    @for (v of vouchers; track v) {
      <div>
        {{  v.Text }}
      </div>
    }
  </mat-card-content>
</mat-card>


