.grid {
  display: grid;
  grid-template-rows: var(--toolbar-xl) auto;
  grid-template-columns: auto;
  grid-template-areas:
    "navbar"
    "mainrow";
  height: 100vh;
  margin: 0 var(--gap-medium);
}

.gdNavbar{
  grid-area: navbar;
}

.gdMainrow{
  grid-area: mainrow;
}
