@import "mixins.scss";

button {
  width: 100%;
  @include link(var(--color-fg), var(--font-small));
}

mat-toolbar {
  height: var(--toolbar-medium);
  margin-bottom: var(--gap-small);
}

.mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item:focus {
  background: var(--color-bg)
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 36px;
}

mat-list-item{
  border-bottom: 1px solid var(--color-bg);
  border-top: 1px solid var(--color-bg);
  @include link(var(--color-fg), var(--font-small));
}

.nav-content {
  min-width: 400px;
  height:100%;
  overflow: hidden;
}

.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 240px;
  background-color: var(--color-fg);
}

.mat-drawer-container {
  background-color: var(--color-clear);
  color: var(--color-darkfont);
}