<app-markdown-renderer [md]="'material-harness'"></app-markdown-renderer>
<mat-card>
  <mat-card-header>
    <mat-card-title>Material Harness</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <form [formGroup]="sliderForm" fxLayout="column" fxLayoutGap="16px">
      <div>
        <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <input matInput value="Sushi" name="favorite-food">
        </mat-form-field>
      </div>
      <div>
        <mat-slider min="1"
        max="100">
          <input matSliderThumb formControlName="slider">
        </mat-slider>
      </div>
      <div>
        <button
          mat-raised-button
          color="accent"
          (click)="resetSlider()"
          type="button"
        >
          Reset
        </button>
      </div>
      <div>
        <button mat-raised-button color="accent" type="button">
          Just there to have 2 buttons
        </button>
      </div>

      <div *ngIf="sliderForm.invalid">
        slider has <b><i>invalid </i> </b> value and choose value greater than
        10.
      </div>
      <div *ngIf="sliderForm.valid">
        Slider has a <b><i>valid </i> </b> value {{ value }}.
      </div>
      <div *ngIf="sliderForm.pristine">
        Slider having state <b><i>pristine.</i></b> Slider value not yet changed
        by user.
      </div>
      <div *ngIf="sliderForm.dirty">
        Slider having state <b><i>dirty.</i> </b> Slider value changed by user.
      </div>
      <div *ngIf="sliderForm.untouched">
        Slider having state <b><i>untouched.</i></b> Slider has not visited by
        user.
      </div>
      <div *ngIf="sliderForm.touched">
        Slider having state <b><i>touched.</i> </b> Slider has been visited by
        user.
      </div>
    </form>
  </mat-card-content>
</mat-card>
