:host-context {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

mat-card {
  min-width: 500px;
  background-color: var(--color-accent);
}

mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: var(--toolbar-xl);
  padding-top: var(--gap-big);
  background-color: var(--color-primary);
  color: var(--color-accent);
}

mat-card-title {
  margin: var(--gap-small) 0;
  color: var(--color-font);
  font-size: var(--font-big);
}

mat-card-subtitle {
  color: var(--color-font) !important;
}

.mat-mdc-card-subtitle {
  color: var(--color-accent);
  font-size: var(--font-medium);
  text-align: center;
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div{
    margin-bottom: 0.5rem;

    a{
      text-decoration: none;
      color: black;     
    }

    a:hover{
      text-decoration: underline;
      text-underline-offset: 0.3 rem;
    }
  }
}

.instructions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.showcase {
  min-height: 300px;
}

.logo {
  margin: 0 var(--gap-medium);
}

.mat-mdc-raised-button{
  min-width: 10rem;
}