<mat-card>
  <mat-card-header>
    <mat-card-title> Objects </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <button mat-raised-button (click)="objectsBasics()">Objects Basics</button>
    <button mat-raised-button (click)="enhancedObjectLiterals()">
      Enhanced Object Literals
    </button>
    <button mat-raised-button (click)="objAssign()">
      Using Object.assign()
    </button>
    <button mat-raised-button (click)="copyspread()">
      Immutability using Spread Operator
    </button>
    <button mat-raised-button (click)="valref()">
      Modifying Val / Ref Types
    </button>
  </mat-card-content>
</mat-card>
